body {
    width: 90%;
    margin: auto;
    background: url('img/pexels-pixabay-326311.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-position: bottom right;
    font-size: 20px;
}

.good {
    text-transform: uppercase;
    font-weight: bold;
    color: green;
}

table,
th,
td {
    border: 1px solid white;
}

tr:nth-child(odd) {
    background: grey
}

tr:nth-child(even) {
    background: white
}

.bad {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

header>h1 {
    background: yellow;
}

.items-v {
    border: 3px solid green;
}

.items-f {
    border: 1px solid yellow;
    ;
}

blockquote {
    width: 45%;
    margin: auto;
    font-size: 160%;
    background: grey;
    border-left: 3px firebrick solid;
    padding: 10px 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}

p {
    font-family: Arial, Helvetica, serif;
    font-size: 20px;
    color: darkred;
    letter-spacing: 2.5px;
}

a {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

a {
    color: red;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: black;
}

.items {
    font-style: italic;
}